* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

.container {
  width: min(1140px, 100%);
  margin: 0 auto;
  padding: 0 16px;
}

/* -------- NAVBAR -------- */
header {
  background: white;
  border-bottom: 1px solid #eee;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.logo a {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  list-style: none;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.btn {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.donate-btn {
  background: #ff6a00;
  color: white;
}

.contact-btn {
  background: #222;
  color: white;
}

.menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  background: #fff;
  border-top: 1px solid #eee;
}

.dropdown-menu ul {
  list-style: none;
  padding: 12px 16px;
}

.dropdown-menu li {
  margin: 10px 0;
}

.dropdown-menu a,
.dropdown-menu button {
  width: 100%;
  text-decoration: none;
  color: #333333;
}

/* -------- HERO -------- */
.hero-section {
  background-image: url("./images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-content {
  margin-left: 2rem;
  max-width: 26rem;
}

.hero-section h1 {
  font-size: 80px;
  line-height: 1.2;
  color: #fff;
}

.hero-section span {
  color: #ffdf5b;
}

.hero-section p {
  margin: 12px 0 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #f3f3f3;
}

/* -------- CARDS -------- */
.heading2 {
  text-align: center;
  margin: 4rem 0 4rem;
  font-size: 28px;
}

.heading2::after {
  content: "";
  display: block;
  width: 12rem;
  /* length of the line */
  height: 3px;
  /* thickness */
  background-color: #F03546;
  /* line color */
  margin: 8px auto 0;
  /* space between heading and line */
  border-radius: 2px;
  /* optional rounded edges */
}

.card-list {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
}

.card-item {
  display: block;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background: #efefef;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.card-item img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
}

.card-item span {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 20px;
  background: #f7dff5;
}

.arrow {
  margin-top: 10px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
}

/* -------- MOBILE -------- */
@media (max-width: 768px) {
  .hero-content {
    margin-left: 0;
    width: 80%;
  }

  .nav-links {
    display: none;
  }

  .menu {
    display: block;
  }

  .dropdown-menu.show {
    display: block;
  }

  .hero-section {
    height: 60vh;
    background-attachment: scroll;
    background-position: center top;
  }

  .hero-content {
    margin-left: -8px;
  }

  .hero-section h1 {
    font-size: 30px;
    width: 80%;
  }

  .hero-section p {
    font-size: 15px;
    line-height: 18px;
  }

  .card-list {
    grid-template-columns: 1fr;
  }
}




.programs-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.programs-cards .card {
  height: 280px;
  max-width: 350px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.programs-cards .card:hover {
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.programs-cards .card .img {
  height: 200px;
  width: 100%;
}

.programs-cards .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.programs-cards .card .top-text {
  padding: 5px;
}

.programs-cards .card .top-text .name {
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}

.programs-cards .card .top-text p {
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}

.programs-cards .card .bottom-text {
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}

.programs-cards .card:hover .bottom-text {
  opacity: 1;
  visibility: visible;
}

.programs-cards .card .bottom-text .text {
  text-align: justify;
}

.programs-cards .card .bottom-text .btn {
  margin: 10px 0;
  text-align: left;
}

.programs-cards .card .bottom-text .btn a {
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}

.programs-cards .card .bottom-text .btn a:hover {
  transform: scale(0.9);
}


.video {
  position: relative;
  /* Needed for absolute video positioning */
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* Prevent video overflow */
  margin-top: 10rem;
}

.background-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures video covers the entire section */
  z-index: -1;
}


.content {
  text-align: center;
  z-index: 1;
  color: #fff;
}

.content h2 {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: -5rem;
}

.content .text {
  height: 40vh;
  width: 50%;
  background-color: white;
  background-color: #00000096;
  margin-top: 8rem;
  margin-left: 0rem;
  padding: 30px 20px;
}

.content .text h3 {
  font-size: 33px;
  margin-bottom: 10px;
}

.content .text strong {
  font-size: 33px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.content .text button {
  height: 3rem;
  width: 8rem;
  background-color: #ff6a00;
  color: white;
}

.content .text p {
  margin-bottom: 20px;
}

/* .content a {
  font-size: 23px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 15px 25px;
  border-radius: 50px;
  transition: 0.3s;
}

.content a:hover {
  background-color: #fff;
  color: #000;
} */

@media (min-aspect-ratio:16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}


/* Responsive */
@media screen and (max-width: 978px) {
  .profile-cards {
    flex-direction: column;
    align-items: center;
  }

  .profile-cards .card {
    max-width: 700px;
    margin: 20px 0;
  }
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .content h1 {
    font-size: 60px;
  }

  .content a {
    font-size: 20px;
    padding: 12px 20px;
  }
}

@media (max-width: 600px) {
  .content h2 {
    font-size: 40px;
  }

  .content a {
    font-size: 18px;
    padding: 10px 18px;
  }

  .video {
    height: 50vh;
  }
}

@media (max-width: 1024px) {
  .content h2 {
    font-size: 2.2rem;
    margin-top: -3rem;
  }

  .content .text {
    width: 70%;
    height: auto;
    margin-top: 5rem;
    padding: 20px 15px;
  }

  .content .text h3,
  .content .text strong {
    font-size: 24px;
  }

  .content .text button {
    width: 7rem;
    height: 2.5rem;
  }
}

@media (max-width: 600px) {
  .video {
    height: 75vh;
    margin-top: 5rem;
  }

  #video-title {
    margin-top: 1rem;
  }

  .content h2 {
    font-size: 1.8rem;
    margin-top: -2rem;
  }

  .content .text {
    width: 80%;
    margin-top: 3rem;
    padding: 15px 10px;
  }

  .content .text h3,
  .content .text strong {
    font-size: 18px;
  }

  .content .text p {
    font-size: 13px;
  }

  .content .text button {
    width: 6rem;
    height: 2.2rem;
  }
}